@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

body {
    background: #040404;

    font-family: 'Kanit', sans-serif;
}

.texthead {
    /* 0 */


    position: absolute;
    height: 273px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 900px;


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 273px;
    /* identical to box height */

    color: #FFFFFF;
}

h3 {
    color: #F0A500;
    font-weight: 900;
}

p {
    font-size: 18px;
}

b {
    color: #F0A500;
    font-weight: 900;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.imagebanner {
    width: 100%;
    height: 779px;
    display: block;
    object-fit: cover;
}

.imgshadow {
    /* Rectangle 456 */


    position: absolute;
    width: 100%;
    height: 164px;
    left: 0px;
    top: 615px;

    background: linear-gradient(180deg, rgba(4, 4, 4, 0) 0%, #040404 100%);
}

.custom-card {
    width: 100%;

    background: rgba(99, 108, 132, 0.26);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
    color: white;
    padding: 90px;
}

.custom-card1 {
    /* silicon */
    width: 100%;
    background: linear-gradient(144.48deg, #28272F 9.13%, #040404 62.89%);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.4);
    border-radius: 19px;
    padding: 30px;
}

.level-border {
    /* Ellipse 20 */


    position: relative;
    width: 320px;
    height: 320px;
    top: -170px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(101, 78, 163, 0.3) 0%, rgba(234, 175, 200, 0.3) 100%);
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(19px);
    /* Note: backdrop-filter has minimal browser support */
}

.level-text {
    /* 0 */


    position: absolute;
    width: 120px;
    height: 273px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 642px;


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 273px;
    /* identical to box height */

    color: #FFFFFF;
}

.input {
    width: 100%;
    height: 60px;
    background: rgba(99, 108, 132, 0.26);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(86px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 19px;
    padding: 18px;
    color: white;
}

.custom-button {
    width: 150px;
    height: 60px;

    background: rgba(240, 165, 0, 0.7);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(86px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 19px;
    color: white;
}

.custom-button:hover {
    color: white;
}

.nextLevel {
    background: rgba(240, 165, 0, 0.7);
    color: white;
    border-radius: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.nextLevel:hover {
    background: rgba(240, 165, 0, 0.7);
    color: white;
}

.backLevel:hover {
    background: rgba(240, 165, 0, 0.7);
    color: white;
}

.title {
    /* Rectangle 502 */
    display: block;

    width: 100%;
    height: 68px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(67, 67, 67, 0.26) 100%);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;


    padding-left: 30px;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;


    color: #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
}

.description {
    /* Rectangle 507 */
    display: block;
    width: 100%;

    padding: 30px;
    font-size: 18px;
    background: l0inear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(67, 67, 67, 0.26) 100%);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    /* Note: backdrop-filter has minimal browser support */
}

.webhead {
    /* Rectangle 504 */

    width: 100%;
    height: 68px;

    font-size: 20px;
    display: flex;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(67, 67, 67, 0.26) 100%);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);


    color: white;
    /* Note: backdrop-filter has minimal browser support */
}

.headicon {
    color: #CDCDCD;
}

.headicon:hover {
    color: white;
}

.urlweb {
    /* silicon */
    width: 80%;
    height: 30px;
    padding-left: 10px;

    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: black;
}


.webcontent {
    /* Rectangle 508 */


    width: 100%;
    display: block;
    padding: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(67, 67, 67, 0.26) 100%);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    color: white;
    /* Note: backdrop-filter has minimal browser support */

}


.hide {
    display: none;
}

.boxShadow {
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.4);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.btn-brown {
    background: linear-gradient(180deg, #1565C0 0%, #1565C0 100%);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;

    height: 50px;
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-brown:hover{
    color: white;
}